<!DOCTYPE html>
<html>
    <head>
    <!-- HTML Codes by Quackit.com -->
        <title>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <style>
        </style>
    </head>
    <body>
        <h1>WELCOME TO RELATIVE URL TEMPLATES!</h1>
        <a href="{% url 'basic_app:other' %}">THE OTHER PAGE</a>
        <br>
        <a href="{% url 'admin:index' %}">LINK TO ADMIN</a>
        <br>
        <a href="{% url 'index' %}">LINK TO INDEX</a>
        <p></p>
    </body>
</html>
